<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <!--<<add name="test" connectionString="Data Source=.;Initial Catalog=test;User ID=sa;Password=111111" />-->

     <!-- 本机  -->
     <!--<add name="mysql" connectionString="server=localhost;port=3306;user=root;password=root; database=mis;Charset=utf8;SslMode = none;Convert Zero Datetime=True ; Allow Zero Datetime=True"
      providerName="mysql" />-->
    <!-- 测试 -->
    <!--<add name="mysql" connectionString="server=10.8.11.29;port=3306;user=mis;password=Til@2018; database=mis;Charset=utf8;SslMode = none;Convert Zero Datetime=True ; Allow Zero Datetime=True"
      providerName="mysql" />-->
    <!-- 生产—内 -->
    <!--<add name="mysql" connectionString="server=10.8.20.197;port=3306;user=dzdb;password=dzdb@2018; database=dzdb;Charset=utf8;SslMode = none;Convert Zero Datetime=True ; Allow Zero Datetime=True"
      providerName="mysql" />-->
    <!-- 生产—外 -->
    <add name="mysql" connectionString="server=180.166.220.25;port=33069;user=mis;password=Til@2018; database=mis;Charset=utf8;SslMode = none;Convert Zero Datetime=True ; Allow Zero Datetime=True;Allow User Variables=True"
      providerName="mysql" />
    <add name="access" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\Administrator\Desktop\CustomData2004.accdb;User ID=Admin;Jet OLEDB:Database Password=09E08AD93B08B00A72FB;"
      providerName="System.Data.OleDb" />
    <add name="BgCustomsState.Properties.Settings.CustomData2004ConnectionString"
      connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\CustomData2004.accdb;Jet OLEDB:Database Password=09E08AD93B08B00A72FB"
      providerName="System.Data.OleDb" />
  </connectionStrings>
</configuration>